.button {
  display: inline-block;
  padding: 7px;
  border: none;
  text-align: center;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: $background-primary-color;
  background-color: $special-color;

  &:hover {
    background-color: $button-hover-color;
  }

  &:active {
    color: fade-out($background-primary-color, 0.7);
    background-color: $button-hover-color;
  }

  &--simple {
    color: $text-color;
    background-color: $background-secondary-color;

    &:hover {
      background-color: darken($background-secondary-color, 3.5%);
    }

    &:active {
      color: fade-out($text-color, 0.7);
      background-color: darken($background-secondary-color, 3.5%);
    }
  }
}
