.button {
  display: inline-block;
  padding: 7px;
  text-align: center;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: $background-primary-color;
  background-color: $special-color;

  &:hover {
    background-color: $button-hover-color;
  }

  &:active {
    color: fade-out($background-primary-color, 0.7);
  }
}
