.button {
  display: block;
  padding: 12px 10px 10px;
  border: none;
  text-align: center;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: $background-primary-color;
  background-color: $special-color;

  &:hover {
    background-color: $button-hover-color;
  }

  &:active {
    color: fade-out($background-primary-color, 0.7);
    background-color: $button-hover-color;
  }

  &--simple {
    color: $text-color;
    background-color: $background-secondary-color;

    &:hover {
      background-color: darken($background-secondary-color, 3.5%);
    }

    &:active {
      color: fade-out($text-color, 0.7);
      background-color: darken($background-secondary-color, 3.5%);
    }
  }

  @media (min-width: $tablet-width) {
    padding: 18px 26px 16px;
    font-size: 20px;
    line-height: 20px;
  }
}

.button--large {
  padding-top: 10px;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    padding: 12px 20px 10px;
    font-size: 20px;
    line-height: 30px;
  }
}
