.container {
  padding: 0 $mobile-container-padding;

  @media (min-width: $tablet-width) {
    padding: 0 $tablet-container-padding;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    padding: 0 40px;
    margin: 0 auto;
  }
}

.container--narrow {
  @media (min-width: $tablet-width) {
    padding: 0 70px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 40px;
  }
}
