.copyright {
  display: flex;
  align-items: center;
  column-gap: 22px;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: inherit;

  &:active {
    opacity: 0.3;
  }
}

.copyright__name {
  flex-shrink: 0;
}

.copyright__name-part {
  text-transform: uppercase;
}

.copyright__logo {
  max-width: 100%;
  height: auto;
  fill: $text-color;
}

.copyright:hover,
.copyright:active {
  .copyright__logo {
    fill: $special-color;
  }
}
