.page-header {
  padding-top: 10px;

  @media (min-width: $tablet-width) {
    padding-top: 25px;
    padding-bottom: 14px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 53px;
  }
}

.page-header__container {
  position: relative;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 40px;
  }
}

.page-header__logo {
  margin-bottom: 13px;

  @media (max-width: $mobile-width-only) {
    width: 34px;
    overflow: hidden;

    &::after {
      content: "";
      position: absolute;
      top: 12px;
      left: 50%;
      width: 101px;
      height: 18px;
      background-image: url("../img/cat-energy-text.svg");
      transform: translateX(-50%);
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}
