.page-footer__text {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $text-accent-color;
}

.page-footer__address {
  display: flex;
  flex-direction: column-reverse;
  line-height: 20px;
  font-style: normal;
}
