.radio-button__label {
  display: grid;
  grid-template-rows: 30px;
  grid-template-columns: 30px 1fr;
  column-gap: 15px;
  grid-template-areas: "radio label";
  align-items: center;

  &::before {
    content: "";
    grid-area: radio;
    place-self: stretch;
    border: 1px solid $field-border-color;
    border-radius: 50%;
  }

  @media (min-width: $tablet-width) {
    grid-template-rows: 40px;
    grid-template-columns: 40px 1fr;
    column-gap: 20px;
  }
}

.radio-button__input {
  &:enabled:not(:checked) {
    + .radio-button__label:hover::before {
      border-color: $field-border-hover-color;
    }
  }

  &:checked {
    + .radio-button__label::after {
      content: "";
      grid-area: radio;
      place-self: center;
      width: 48%;
      height: 48%;
      border-radius: 50%;
      background-color: $special-color;

      @media (min-width: $tablet-width) {
        width: 45%;
        height: 45%;
      }
    }
  }

  &:disabled {
    + .radio-button__label {
      opacity: 0.3;
    }
  }
}
