.slider__button {
  position: relative;
  padding: 10px;
  border: none;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $text-accent-color;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 1px;
    background-image: repeating-linear-gradient(
      to right,
      $text-accent-color 0,
      $text-accent-color 1px,
      transparent 1px,
      transparent 2px);
    opacity: 0.24;
  }

  &:hover::after {
    background-color: $text-accent-color;
    opacity: 0.4;
  }

  &:active::after {
    opacity: 0;
  }
}
