$background-primary-color: #ffffff;
$background-secondary-color: #eeeeee;
$text-color: #444444;
$text-accent-color: #000000;
$special-color: #68b738;
$button-hover-color: #5eaa2f;
$field-border-color: #cdcdcd;
$social-icon-color: #666666;
