// Global

@import "global/fonts.scss";
@import "global/global.scss";
@import "global/variables.scss";

// Blocks

@import "blocks/page.scss";
@import "blocks/logo.scss";
@import "blocks/burger.scss";
@import "blocks/site-navigation.scss";
@import "blocks/hero.scss";
@import "blocks/button.scss";
@import "blocks/categories.scss";
@import "blocks/category.scss";
@import "blocks/features.scss";
@import "blocks/example.scss";
@import "blocks/slider.scss";
@import "blocks/page-footer.scss";
@import "blocks/socials.scss";
@import "blocks/copyright.scss";
